body {
  background: #D1E9ED;
  color: darkblue;
  font-family: arial;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
h1 {
  text-transform: uppercase;
  margin: 10px auto;
}
h2 {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}
p {
  margin: 0;
}
.container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
.container h1 {
  flex: 1 100%;
  order: 1;
  text-align: center;
  margin: 5px auto;
}
.column {
  float: left;
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 10px;
  order: 2;
  background: #84C1DE;
}
.left-column {
  width: 35%;
}
.right-column {
  width: 65%;
  border-left: none;
}
.page-full {
  flex: 1 100%;
  order: 3;
  border: 1px solid #333;
  padding: 10px;
  background: #84C1DE;
}

/* Tabs */
.tabs-container .tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.tabs-container .tabs ul li {
  margin: 0;
  padding: 0;
  width: 20%;
  text-align: center;
}
.tabs-container .tabs ul li a {
  color: #FFF;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
  text-transform: uppercase;
  padding: 4px 0;
}
.tabs-container .tabs ul li:last-child a {
  border-right: none;
}
.tabs-container .tabs ul li a.active {
  color: darkblue;
}
.tabs-content {
  margin: 10px 0;
}
.tab-content {
  background: #FFF;
  padding: 10px;
  height: 273px;
  display: none;
}
.tab-content.active {
  display: block;
}

/* Footer nav arrows */
.footer-nav {
  padding-top: 10px;
  border-top: 1px solid #FFF;
  text-align: center;
}
.footer-nav a {
  display: block;
  color: #FFF;
  text-decoration: none;
  width: 120px;
  line-height: 65px;
  background: url(../images/arrows.png) no-repeat 2px -70px;
  margin: 0 auto 10px;
}
.footer-nav a.active {
  background-position: 2px 0;
}

/* Page general */
.page {
  padding-left: 20px;
  display: none;
}
.page.active {
  display: block;
}

/* Page header styles. */
.page .page-header {
  height: 26px;
  line-height: 26px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}
.page .page-header .nav {
  position: absolute;
  top: -5;
  right: 0;
}
.page .page-header .nav a {
  display: block;
  float: left;
  width: 26px;
  line-height: 26px;
  border-radius: 15px;
  background: darkblue;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  margin-left: 5px;
}
.page .page-header .nav a.clear {
  font-size: 8px;
  text-transform: uppercase;
}

/* Page content styles.*/
.page .page-content .row {
  margin-bottom: 5px;
  font-size: 11px;
  line-height: 14px;
}
.page .page-content .row label {
  width: 24ex;
  display: block;
  float: left;
  margin-right: 5px;
  background: #000;
  color: #FFF;
  padding: 5px 10px;
  box-sizing: border-box;
}
.page .page-content .row .values {
  display: inline-block;
  width: 60ex;
  background: #FFF;
  padding: 3px;
}
.page .page-content .row .values input,
.page .page-content .row .values textarea {
  width: 100%;
  line-height: 9px;
  font-size: 10px;
}
.page .page-content .row.biggest-row label,
.page .page-content .row.biggest-row .values,
.page .page-content .row.biggest-row textarea {
  height: 235px;
}
.page .page-content .row.biggest-row label {
  line-height: 241px;
  height: 241px;
}

/* Page 2 styles. */
.page#page-2 .page-content .row .values input {
  float: left;
  margin-right: 3px;
}

/* Page 3 styles. */
.page#page-3 .page-header {
  border-bottom: none;
  height:10px;
}
.page#page-3 thead tr {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #FFF;
}
.page#page-3 label {
  margin: 0;
}
.page#page-3 thead tr td {
  text-align: center;
}
.page#page-3 thead tr td:nth-child(1) {
  width: 15%;
}
.page#page-3 thead tr td:nth-child(2) {
  width: 26%;
}
.page#page-3 thead tr td:nth-child(3) {
  width: 11%;
}
.page#page-3 thead tr td:nth-child(5),
.page#page-3 thead tr td:nth-child(6),
.page#page-3 thead tr td:nth-child(7) {
  width: 5%;
}
.page#page-3 thead tr.row {
  line-height: 11px;
}
.green {
  background: darkgreen;
}
.red {
  background: darkred;
}
.yellow {
  background: yellow;
}
table thead .green {
  color: #FFF;
  text-decoration: none;
  text-align: center;
  display: block;
  background-image: url(../images/checkmark.png);
  background-repeat: no-repeat;
  background-position: 2px center;
}
